<!doctype html>
<html id="vueapp" v-cloak>
<head>
    <meta charset="utf-8">
    <title>Chatter</title>
    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>
    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div v-if="!app.logged_in">
    <label>Login</label>
    <input type="password" @keyup.enter="init" v-model="user.passphrase"/>
    <button @click="init">Login</button>
  </div>
<div class="chatapp" v-if="app.logged_in">
  <div class="thread-section">
    <div class="thread-count">
      <span>Friends</span>
    </div>
    <ul class="thread-list">
      <li class="thread-list-item" v-for="friend in friends">
        <h5 class="thread-name">{{ friend.name }}</h5>
        <div class="thread-last-message">    Sounds good.  Will they be serving dessert?  </div>
      </li>
    </ul>
  </div>
  <div class="message-section">
    <h3 class="message-thread-heading">Chat</h3>
    <ul class="message-list">
      <li class="message-list-item">
        <h5 class="message-author-name">Bill</h5>
        <div class="message-time">    3:17:46 AM  </div>
        <div class="message-text">Hey Brian, are you going to be talking about functional stuff?</div>
      </li>
      <li class="message-list-item">
        <h5 class="message-author-name">Brian</h5>
        <div class="message-time">    3:17:56 AM  </div>
        <div class="message-text">At ForwardJS?  Yeah, of course.  See you there!</div>
      </li>
    </ul>
    <textarea class="message-composer"></textarea>
  </div>
</div>

<br/><br/><br/><br/><br/><br/>
Debug
<pre>
{{ $data | json }}
</pre>

<script src="app.js"></script>
</body>
</html>
